<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bdqn.dao.answersMapper">

<select id="Getanswers" resultType="answers" parameterType="Long">

SELECT * FROM answers WHERE qid=#{qid}
</select>
<insert id="Addanswers" >
INSERT INTO answers(ansContent,ansDate,qid)VALUES(#{ansContent},NOW(),#{qid})

</insert>

</mapper>


